<head>
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
    
    <!--StyleSheets-->
    <link rel="stylesheet" href="style/css/header.css" type="text/css" />
    <link rel="stylesheet" href="style/css/footer.css" type="text/css" />
    <link rel="stylesheet" href="style/css/extra.css" type="text/css" />
    <link rel="stylesheet" href="style/css/body.css" type="text/css" />
    
    <link rel="stylesheet" href="style/css/mobile.css" type="text/css" />
    <!--Javascript-->
    
    
</head>